@model ExpedienteIDON.Models.VitalSigns

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VitalSigns</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TABD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TABD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TABI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TABI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Waist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OxygenSaturation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OxygenSaturation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
