@model ExpedienteIDON.Models.MedicalTest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedicalTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RadiographTorax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RadiographTorax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RadiographToraxDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RadiographToraxDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RadiographToraxNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RadiographToraxNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ultrasound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ultrasound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltrasoundDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltrasoundDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltrasoundType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltrasoundType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electrocardiography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electrocardiography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectrocardiographyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectrocardiographyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectrocardiographyNormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectrocardiographyNormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectrocardiographyObservations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectrocardiographyObservations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Others)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Others)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
