@model IEnumerable<ExpedienteIDON.Models.MedicalTest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RadiographTorax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RadiographToraxDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RadiographToraxNormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ultrasound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltrasoundDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltrasoundType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Electrocardiography)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectrocardiographyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectrocardiographyNormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectrocardiographyObservations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Others)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RadiographTorax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RadiographToraxDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RadiographToraxNormal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ultrasound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltrasoundDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltrasoundType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Electrocardiography)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectrocardiographyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectrocardiographyNormal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectrocardiographyObservations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Others)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
