@model ExpedienteIDON.Models.Hormonas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hormonas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prolactina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prolactina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Progesterona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Progesterona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estrogenos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estrogenos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cortisol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cortisol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
