@model ExpedienteIDON.ViewModels.PerfilPatientVM
@{
    ViewBag.Title = "Details";
    Layout = ViewBag.Layout;
}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Perfil del paciente</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="@Url.Action("Index","Home")">Inicio</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="@Url.Action("Index","Patients")">Lista de Pacientes</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Perfil del paciente</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="white-box">
                    <div class=" cardbox patient-profile">
                        <img src="@Url.Content("~/Content/UploadedFiles/"+Model.Patient.Photo)" class="img-responsive" alt="">
                    </div>
                    <div class="cardbox">
                        <div class="header">
                            <h4 class="font-bold">INFORMACIÓN BÁSICA</h4>
                        </div>
                        <div class="body">
                            <div class="user-btm-box">
                                <!-- .row -->
                                <div class="row text-center m-t-10">
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r">
                                        <strong>Nombre:</strong>
                                        <p>@Html.DisplayFor(model => model.Patient.Name) @Html.DisplayFor(model => model.Patient.LastName)</p>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                        <strong>Género</strong>
                                        <p>@Html.DisplayFor(model => model.Patient.PatientGender)</p>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <!-- .row -->
                                <div class="row text-center m-t-10">
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r">
                                        <strong>Teléfono</strong>
                                        <p>
                                            <a href="tel:@Html.DisplayFor(model => model.Patient.Phone)">
                                                @Html.DisplayFor(model => model.Patient.Phone)
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                        <strong>Célular</strong>
                                        <p>
                                            <a href="tel:@Html.DisplayFor(model => model.Patient.Cellphone)">
                                                @Html.DisplayFor(model => model.Patient.Cellphone)
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <!-- .row -->
                                <div class="row text-center m-t-10">
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r">
                                        <strong>Email</strong>
                                        <p>@Html.DisplayFor(model => model.Patient.Email)</p>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                        <strong>Ocupación</strong>
                                        <p>@Html.DisplayFor(model => model.Patient.Ocupation)</p>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <!-- .row -->
                                <div class="row text-center m-t-10">
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r">
                                        <strong>Fecha Nacimiento</strong>
                                        <p>@Convert.ToDateTime(Model.Patient.Birthday).ToString("dd/MM/yyyy")</p>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                        <strong>Estudios</strong>
                                        <p>@Html.DisplayFor(model => model.Patient.PatientStudies)</p>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <!-- .row -->
                                <div class="row text-center m-t-10">
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r">
                                        <strong>Estado Civil</strong>
                                        <p>@Html.DisplayFor(model => model.Patient.PatientCivilStatus)</p>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                        <strong>Dirección</strong>
                                        <p>
                                            @Html.DisplayFor(model => model.Patient.StreetAndNumber)
                                            @Html.DisplayFor(model => model.Patient.Suburb)
                                            @Html.DisplayFor(model => model.Patient.City)
                                            @Html.DisplayFor(model => model.Patient.ZipCode)
                                        </p>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 b-r">
                                        <strong>Estado </strong>
                                        <p>@Html.DisplayFor(model => model.Patient.Status)</p>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-xs-12">
                <div class="cardbox">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@Url.Action("Edit", new { id = Model.Patient.Id })" class="btn btn-round btn-primary m-b-10">
                                    Editar Perfil
                                </a>
                                @if (Model.MedicalRecord == null)
                                {
                                    <a href="@Url.Action("CreateRecordAlone", new { patientId = Model.Patient.Id })" class="btn btn-round btn-warning m-b-10">
                                        Crear Historial
                                    </a>
                                }
                                @if (Model.MedicalRecord != null)
                                {
                                    <a href="@Url.Action("DetailsMedicalRecord", new { id = Model.Patient.Id })" class="btn btn-round btn-warning m-b-10">
                                        Ver Historial
                                    </a>
                                    @Html.ActionLink("Crear Nota", "Create", "EvolutionNote",
                                                new { patientId = Model.Patient.Id },
                                                new { @class = "btn btn-round btn-danger m-b-10" })

                                }
                                @Html.ActionLink("Crear Receta", "Create", "Prescription",
                                                new { patientId = Model.Patient.Id },
                                                new { @class = "btn btn-round btn-success m-b-10" })

                                @Html.ActionLink("Lista de Receta", "PatientPrescriptions", "Prescription",
                                                new { Id = Model.Patient.Id },
                                                new { @class = "btn btn-round btn-info m-b-10" })
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="borderBox light bordered">
                                <div class="borderBox-title tabbable-line">
                                    <div class="caption">
                                        <span class="caption-subject font-dark bold uppercase">Información Rápida</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a href="#borderBox_tab3" data-toggle="tab"> Glúcosa </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#borderBox_tab2" data-toggle="tab"> Presión </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#borderBox_tab1" data-toggle="tab" class="active"> Peso </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="borderBox-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="borderBox_tab1">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card  card-box">
                                                        <div class="card-head">
                                                            <header>PESO DE LAS ÚLTIMAS 5 VISITAS</header>
                                                        </div>
                                                        <div class="card-body no-padding height-9" id="chartjs_line_parent">
                                                            <div class="row">
                                                                <canvas id="weightChart_line"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="borderBox_tab2">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card  card-box">
                                                        <div class="card-head">
                                                            <header>PRESIÓN DE LAS ÚLTIMAS 5 VISITAS</header>
                                                        </div>
                                                        <div class="card-body no-padding height-9" id="chartjs_bar_parent">
                                                            <div class="row">
                                                                <canvas id="presureChartjs_Bar"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="borderBox_tab3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card  card-box">
                                                        <div class="card-head">
                                                            <header>GLÚCOSA DE LAS ÚLTIMAS 5 VISITAS</header>
                                                        </div>
                                                        <div class="card-body no-padding height-9" id="chartjs_line_parent">
                                                            <div class="row">
                                                                <canvas id="glucosechartjs_line"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card card-box">
                                            <div class="card-head">
                                                <header>Historial de visitas</header>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-scrollable">
                                                    <table id="tableExport" class="table table-striped custom-table table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th> Fecha </th>
                                                                <th> Motivo </th>
                                                                <th> Ver Visita Completa </th>
                                                                <th> Ver Receta </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.EvolutionNotes)
                                                            {
                                                                <tr class="odd gradeX">
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Others.Reason)
                                                                    </td>
                                                                    <td>
                                                                        <a href="@Url.Action("../EvolutionNote/Details", new { id = item.Id })" class="btn btn-success btn-xs">
                                                                            <i class="fa fa-vcard-o"></i>
                                                                        </a>
                                                                    </td>
                                                                    @if (Model.Prescriptions.SingleOrDefault(r => r.EvolutionNoteId == item.Id) != null)
                                                                    {
                                                                        <td class="center">
                                                                            <a href="@Url.Action("../EvolNotePrescription/Details", new { id = item.Id })" class="btn btn-warning btn-xs">
                                                                                <i class="fa fa-vcard-o"></i>
                                                                            </a>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page content -->
</div>
@section Scripts{
    <script>
        var weight = @Html.Raw(Json.Encode(Model.Weight));
        var dates = @Html.Raw(Json.Encode(Model.Dates));
        var weightChart = $('#weightChart_line');
        var lineChart = new Chart(weightChart, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: "Peso",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: weight,
                    fill: false,
                }]
            }, options: {
                responsive: true,
                title: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Fecha de Visita'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Kilos'
                        }
                    }]
                }
            }
        })
    </script>
    <script>
        var glucose = @Html.Raw(Json.Encode(Model.Glucose));
        var dates = @Html.Raw(Json.Encode(Model.Dates));
        var weightChart = $('#glucosechartjs_line');
        var lineChart = new Chart(weightChart, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: "Glúcosa",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: glucose,
                    fill: false,
                }]
            }, options: {
                responsive: true,
                title: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Fecha de Visita'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Glúcosa'
                        }
                    }]
                }
            }
        })
    </script>
    <script>
        var TASistBI = @Html.Raw(Json.Encode(Model.TASistBI));
        var TADiastBI = @Html.Raw(Json.Encode(Model.TADiastBI));

        var config = {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: "Sistólica",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: TASistBI,
                    fill: false,
                }, {
                    label: "Diastólica",
                    fill: false,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: TADiastBI
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Visitas'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMax: 160,
                            suggestedMin: 40
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Presión'
                        }
                    }]
                }
            }
        };
        var ctx = document.getElementById("presureChartjs_Bar").getContext("2d");
        window.myLine = new Chart(ctx, config);
    </script>
}