@model ExpedienteIDON.Models.OtrosLabs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OtrosLabs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VitaminaD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VitaminaD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calcio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calcio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fosforo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fosforo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magnesio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magnesio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sodio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sodio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Potasio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potasio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cloro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cloro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HemoglobinaGlugosilada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HemoglobinaGlugosilada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
